@model Randevu

 <h2>Çalışan Ekle</h2>
 <hr>
<form asp-asp-controller="Musteri" asp-action="RandevuAl" method="post">
    <div class="mb-3">
        <label asp-for="CalisanID" class="form-label">Çalışan</label>
        <select asp-for="CalisanID" asp-items="ViewBag.CalisanlarList" class="form-select">
              <option value="">Seçiniz</option>
        </select>
   </div>

<div class="mb-3">
     <label asp-for="IslemID" class="form-label">İşlemler</label>
     <select asp-for="IslemID" asp-items="ViewBag.IslemlerList" class="form-select">
           <option value="">Seçiniz</option>
     </select>
</div>

<button type="submit" class="btn btn-primary">Çalışan Ekle</button>
</form>