@model IEnumerable<Web_Proje.Models.Islemler>

<h1>İşlemler Listesi</h1>
<a href="/IslemlerConsumeApi/Ekle" class="btn btn-primary">İşlem Ekle</a>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>İşlem ID</th>
            <th>İşlem Adı</th>
            <th>Ücret</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IslemID</td>
                <td>@item.IslemAdi</td>
                <td>@item.Ucret</td>
            </tr>
        }
    </tbody>
</table>
