@model LogInViewModel


<h2>Giriş</h2>
 <hr>
<form asp-asp-controller="logIn" asp-action="Login" method="post">
<div class="mb-3">
     <label asp-for="Email" class="form-label">Email</label>
     <input type="text" asp-for="Email" class="form-control">
</div>
<div class="mb-3">
     <label asp-for="Sifre" class="form-label">Soyadınız</label>
     <input type="text" asp-for="Sifre" class="form-control">
</div>

<button type="submit" class="btn btn-primary">Giriş</button><br><br>
<div>
     <p style="color:red">Hesabınız Yok mu? Hemen Kayıt Olun</p>
 <a type="button" asp-controller="Musteri" class="btn btn-danger" asp-action="Create">Kayıt Ol</a>

</div>
</form>